<header class="fixed w-full" >
<nav class="  mx-auto bg-white max-w-7xl top-0 z-50 border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700" >
    <div class="px-3 py-3 lg:px-5 lg:pl-3" >
        <div class="flex items-center justify-between">
          <div class="flex items-center justify-start text-white">  <img src="https://www.nj.com/resizer/V8x3dLZnLM8jjfLMe6hPK7zBJqE=/800x0/smart/cloudfront-us-east-1.images.arcpublishing.com/advancelocal/FM3QYFTNP5AUFAEVCPLVB73MSY.jpg" class="rounded-full w-10 h-10"/>
            <div>Demo app</div>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="oc se"><path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0"></path></svg>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="oc se"><path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path></svg>
        </div>
        </div>
    </div>
</nav>
</header>